/* Обнуление стилей */
*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* Основные стили ↓*/

:root {
  --background-color: #222222; /* Белый цвет */
  --text-color-light: #ffffff; /* Белый цвет */
  --text-color-dark: #000000; /* Черный цвет */
  --link-color-hover: #EFCFAD; /* Цвет при наведении (например, томатный) */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color-light);
}

a {
  text-decoration: none;
  color: inherit;
}

.text-base {
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .text-base {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .text-base {
    font-size: 1.4rem;
  }
}

.base-button {
  padding: 20px 40px;
  background-color: #ffffff;
  color: var(--text-color-dark);
  font-weight: bold;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.base-button:hover {
  background-color: var(--link-color-hover);
}

.serif-font {
  font-family: "Prata", serif;;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.header {
  position: fixed;
  z-index: 1000;
  background: transparent;
  height: auto;
  width: 100%;
  transition: background 0.3s ease-in-out;
}

.header.scrolled {
  background: rgba(0, 0, 0, 0.3);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

@media (min-width: 768px) {
  .header__content {
    width: 60%;
  }
}

.header.open .menu {
  transform: translateX(100%);
}

.header.open .header__burger-button span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-button span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-button span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.header__burger-button {
  display: flex;
  align-items: center;
  position: relative;
  width: 40px;
  height: 30px;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.header__burger-button span {
  position: absolute;
  left: 5px;
  width: 30px;
  height: 3px;
  background-color: var(--text-color-light);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.header__burger-button span:nth-child(1) {
  transform: translateY(-8px);
}

.header__burger-button span:nth-child(3) {
  transform: translateY(8px);
}

@media (min-width: 768px) {
  .header__burger-button {
    display: none;
  }
}

.logo {
  position: relative;
  z-index: 3;
  color: var(--text-color-light);
  font-size: 1.4rem;
}

.logo p {
  margin: 0;
  font-size: 1.5rem;
  color: var(--text-color-light);
}

.menu {
  width: 60%;
  height: 100vh;
  position: absolute;
  left: -60%;
  top: 0;
  padding: 90px 20px 20px 20px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  font-style: italic;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
  border-top: 1px solid var(--text-color-light);
}

.menu__link {
  color: var(--text-color-light);
  font-size: 1rem;
  display: block;
  transition: color 0.5s ease-in-out;
}

.menu__link:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
  text-underline-offset: 7px;
}

@media (min-width: 768px) {
  .menu {
    backdrop-filter: none;
    background-color: transparent;
    width: auto;
    flex-direction: row;
    position: inherit;
    padding: 0;
    height: auto;
  }

  .menu__list {
    flex-direction: row;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 20px;
    border-top: 0;
  }
}




.base-section {
  margin-bottom: 100px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  color: white;
  position: relative;
  overflow: hidden;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 2;
  gap: 20px;
}

.hero__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: url('images/bar-noir1.jpg') center/cover no-repeat;
  z-index: -1;
}

.hero__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero__title {
  font-size: 4rem;
  padding-top: 100px;
}

.hero__subtitle {
  font-size: 1.4rem;
}

.hero__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 30px 0;
}

.hero__item {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
}

.hero__item-icon {
  width: 20px;
  height: auto;
}

.hero__item-text-accent {
  font-size: 1.6rem;
}

.hero__button {
  padding: 20px 40px;
  background-color: #ffffff;
  color: var(--text-color-dark);
  font-weight: bold;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}



@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
  }

  .hero__content {
    width: 65%;
    padding-right: 40px;
    align-items: flex-start;
  }

  .hero__title {
    font-size: 4.6rem;
    padding-top: 100px;
  }

  .hero__subtitle {
    font-size: 1.7rem;
    text-align: left;
  }

  .hero__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100vh;
    z-index: -1;
  }

  .hero__image::before {
    background: none;
  }

  .hero__item {
    gap: 20px;
  }

  .hero__item-icon {
    width: 40px;
  }

  .hero__item-text-accent {
    font-size: 1.8rem;
  }

  .hero__button {
    padding: 30px 50px;
    background-color: #ffffff;
    color: var(--text-color-dark);
    font-weight: bold;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
  }
}

@media (min-width: 1200px) {
  .hero__item-text-accent {
    font-size: 2.4rem;
  }
}

.features__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
  height: 100%;
}

.features__image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.features__image--left {
  background-image: url('images/bar-noir2.jpg');
}

.features__image--right {
  background-image: url('images/bar-noir3.jpg');
}

.features__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.features__list {
  list-style: none;
  height: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.features__item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.features__divider {
  border: none;
  height: 1px;
  width: 100%;
  background-color: #55565A;
  margin: 10px 0;
}

.features__item-label {
  font-size: 1rem;
  writing-mode: sideways-lr;
}

.features__button {
  padding: 20px 30px;
}

@media (min-width: 768px) {
  .features__container {
    flex-direction: row;
    text-align: left;
    gap: 10px;
  }

  .features__content {
    min-width: 500px;
    height: 100vh;
    justify-content: space-between;
    gap: 60px;
  }

  .features__list {
    gap: 30px;
    max-width: none;
  }

  .features__item {
    margin-bottom: 0;
  }

  .features__item-label {
    font-size: 1.2rem;
  }

  .features__image {
    width: 100%;
    height: 100vh;
  }
}





.booking {
  margin-top: 100px;
}

.booking__content {
  background-color: #fff;
  border-radius: 20px;
}

.booking-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 40px;
  width: 100%;
}

.booking-form__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.booking-form__title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 15px;
}

.booking-form__input {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
}

.booking-form__input:hover {
  outline: 1px solid var(--link-color-hover);
  border-color: var(--link-color-hover);
  box-shadow: 0 2px 5px var(--link-color-hover);
  transform: scale(1.02);
}

.booking-form__checkbox {
  display: flex;
  align-items: center;
  margin: 15px 0;
  font-size: 0.8rem;
  color: var(--text-color-dark);
  width: fit-content;
}

.booking-form__checkbox a {
  color: #0e65c2;
  text-decoration: none;
}

.booking-form__checkbox a:hover {
  text-decoration: underline;
}

.booking-form__button {
  width: 100%;
  padding: 12px;
  background-color: var(--background-color);
  color: var(--text-color-light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.booking-form__button:hover {
  opacity: 0.8;
}

.booking-form__image-container {
  width: 100%;
  position: relative;
  overflow: visible;
  display: flex;
  align-items: end;
  justify-content: center;
}

.booking__image--below {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 0 0 20px 20px;
}

.booking__image--above {
  position: absolute;
  bottom: 0;
  height: 110%;
}


@media (min-width: 768px) {
  .booking__content {
    display: flex;
  }

  .booking-form {
    justify-content: space-between;
    padding: 40px;
    width: 50%;
  }

  .booking-form__title {
    font-size: 2.4rem;
    margin-bottom: 20px;
  }

  .booking-form__input {
    padding: 10px 25px;
    margin: 10px 0;
    font-size: 1rem;
  }

  .booking-form__checkbox {
    margin: 20px 0;
    font-size: 0.9rem;
  }

  .booking-form__button {
    padding: 25px;
    font-size: 1rem;
    margin-top: 30px;
  }

  .booking-form__image-container {
    width: 50%;
  }

  .booking__image--below {
    height: 100%;
    border-radius: 0 20px 20px 0;
  }

  .booking__image--above {
    height: 110%;
  }
}

@media (min-width: 992px) {
  .booking-form {
    padding: 40px 80px;
  }

  .booking-form {
    width: 60%;
  }

  .booking-form__image-container {
    width: 40%;
  }
}

.footer {
  flex-grow: 0;
  flex-shrink: 0;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px 0;
  font-style: italic;
  border-top: 1px solid var(--text-color-light);
  border-bottom: 1px solid var(--text-color-light);
}

.footer__nav-item {
  transition: color 0.5s ease-in-out;
}

.footer__nav-item:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
  text-underline-offset: 7px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 30px 0;
}

.footer__info-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer__socials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
  margin-bottom: 15px;
}

.footer__socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
  height: auto;
}



.footer__socials-item svg path {
  transition: stroke 0.3s;
}

.footer__socials-item:hover svg path {
  stroke: var(--link-color-hover);
}

.footer__socials-item img {
  width: 100%;
  height: auto;
}

.footer__info-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .footer__info {
    max-width: 1200px;
    width: 100%;
    padding: 20px 30px;
  }

  .footer__info-top {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__socials {
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    margin: 0;
    padding-left: 90px;
  }

  .footer__info-bottom {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}